.App {
  text-align: center;
}

.btn {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
  width: 100%;
}
.btn:hover{
  background-color: #c9c9c9;
  color: #FFF;
}
.btn-block {
  display: block;
  width: 100%;
}
.colorButton {
  width: calc(100% - 6px);
  padding: 3px;
  margin: 0;
  height: 2em;
}
.textInput {
  width: calc(100% - 8px);
  padding: 3px;
  margin: 0;
  height: 2em;
  text-align: center;
}
.rangeInput, .selectInput {
  width: 100%;
}
.unlockNumber {
  width: calc(25% - 16px);
  padding: 3px;
  margin: 3px;
  text-align: center;
}
.checkboxInput {
  width: 20%;
  font-size: 6em;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.cards-item {
  display: flex;
  padding: 1rem;
  width: calc(33% - 2rem);
}
@media(max-width: 900px) {
  .cards-item{width: calc(50% - 2rem)};
  /*.cards-item{width: 33.3333%};*/
}
@media(max-width: 700px) {
  .cards-item{width: 100%};
}
.card {
  background-color: white;
  /*border-radius: 0.25rem;*/
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;*/
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}
.card-image::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

@media(min-width: 40rem) {
  .card-image::before {
    padding-top: 66.6%; /* 3:2 aspect ratio */
  }
}

.card-title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0.25em;
}
a {
  text-decoration: none;
}
.card-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 0;
}
.output {
  margin-top: 2em;
}
.output label{
  font-weight: bold;
}
