.card{
  margin-top:1rem;
  background-color: rgb(242,242,242);
  text-align: center
}

.card-header{
  background-color: rgb(47,51,61);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px
}

.badge{
  color: white;
  padding:10px 10px;
  margin: 0 4px;
  font-weight: 300;
  background-color: rgb(96,65,76)
}

.badge-header{
  width: 100%;
  font-weight: 700;
  font-size:1rem;
  text-transform: uppercase;
}

.list-group{
  margin: 5px 0px 5px 8px;
  border-radius: 10px
}

.list-group-item{
  background-color: rgb(186,103,95);
  padding:5px;
  color: white;
  font-size: .9rem;
  width: 100%;
}
