.Pizza {
  height: 50vh;
  background: url(../images/pizza-splash.jpg);
  background-size: cover;
  background-position: center;
}

.Pizza .header-text {
  padding-top: 8%;
  text-align: center;
  color: white;
  font-size: 150px;
}
